<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>5.2.1 v-if、 v-else-if、 v-else-2</title>
    <style>
        /*[kloʊk]*/
        /*n.	披风，斗篷; 外套; 借口，掩饰; 覆盖物;*/

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>

<!--挂载点-->
<div id="app">
    <template v-if="status === 1">
        <div class="one" style="height:300px;background:darkmagenta;"></div>
    </template>

    <template v-if="status === 2">
        <div class="one" style="height:300px;background:darkcyan;"></div>
    </template>
</div>

<script src="./node_modules/vue/dist/vue.js"></script>
<script>
    // v-once 也是一个不需要表达式的指令，作用是定义它的元素或组件只渲染一次，包括元素或
    // 组件的所有子节点。首次渲染后，不再随数据的变化重新渲染，将被视为静态内容，例如：


    // v-else-if 要紧跟 v-if, v-else 要紧 Rli! v-else-if 或 v-if，表达式的值为 真时 ， 当前元素／组件及所
    // 有子节点将被渲染，为假时被移除。如果一次判断的是多个元素，可以在 Vue扣内置的＜template>
    // 元素上使用条件指令，最终渲染的结果不会包含该元素，例如：
    var app = new Vue({
        el: '#app',
        data: {
            status: 1
        }
    });

    setInterval(function () {
        app.status++;
        if (app.status === 3) {
            app.status = 1
        }
    }, 1000)


</script>
</body>
</html>