<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>6.2 绑定值-选择列表：</title>
    <style>
        /*[kloʊk]*/
        /*n.	披风，斗篷; 外套; 借口，掩饰; 覆盖物;*/

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>

<!--挂载点-->
<div id="app">
    <select name="" id="" v-model="selected">
        <option value="" v-for="option in options" :value="option">{{ option }}</option>
    </select>

    <h2>{{ selected }}</h2>
</div>

<script src="./node_modules/vue/dist/vue.js"></script>

<script>

    // <option＞是备选工页，如果含有 value 属性 ， v-model 就会优先匹配 value 的值 ： 如果没有 ， 就会
    // 直接匹配＜option＞的 text，比如选中第二项时 ， selected 的值是 js ， 而不是 JavaScript

    // 勾选时 ， app.checked = app.valuel ： 未勾选时， app.checked = app.value2 。
    var app = new Vue({
        el: '#app',
        data: {
            selected: 'js',
            options: ['html', 'js', 'css']
        }
    });

</script>


</body>
</html>